In [9]:
!pip install ipython-sql sqlalchemy pymysql pandas

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.11/site-packages (0.5.0)
Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.11/site-packages (2.0.22)
Requirement already satisfied: pymysql in /opt/conda/lib/python3.11/site-packages (1.1.0)
Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (2.1.1)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (3.10.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (8.16.1)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (0.5.0)
Requirement already satisfied: six in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy) (3.0.0)
Requirement already satisfied: numpy>=1.23.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (1.24.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: backcall in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.39)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (2.16.1)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.11.2)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.11/site-packages (from prettytable->ipython-sql) (0.2.8)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/conda/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.4.0)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [2]:
%load_ext sql

In [3]:
DATABASE_CONN_STRING = "mysql+pymysql://root:root@host.docker.internal/trabalho_pratico_modulo2?charset=utf8"
%sql $DATABASE_CONN_STRING

In [10]:
import pandas as pd

In [67]:
df = pd.read_csv('raw_data/dados_vendas_produtos.csv', delimiter=';', date_format='%d/%m/%Y')

In [54]:
df.head()

,Nome do vendedor,Produto vendido,Quantidade unitária,Valor do produto,Valor da venda,Data da compra,Localização
0,Joaquim Souza,Produto B,9,33.32,299.88,12/01/2023,PI
1,Lorenzo da Luz,Produto B,10,94.38,943.80,24/03/2023,DF
2,Gustavo Henrique Moreira,Produto E,9,84.45,760.05,11/06/2022,PE
3,Lorena da Costa,Produto C,5,34.14,170.70,24/12/2022,RO
4,Caio Monteiro,Produto C,2,94.42,188.84,27/05/2022,MG

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Nome do vendedor     1000 non-null   object
 1   Produto vendido      989 non-null    object
 2   Quantidade unitária  1000 non-null   int64
 3   Valor do produto     993 non-null    float64
 4   Valor da venda       987 non-null    float64
 5   Data da compra       1000 non-null   object
 6   Localização          1000 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 54.8+ KB

## Tratamento dos dados

In [36]:
df.isna().sum()

Nome do vendedor        0
Produto vendido        11
Quantidade unitária     0
Valor do produto        7
Valor da venda         13
Data da compra          0
Localização             0
dtype: int64

In [68]:
df = df.dropna(subset=['Produto vendido'])

In [69]:
df['Valor do produto'] = df['Valor do produto'].fillna(df.groupby('Produto vendido')['Valor do produto'].transform('mean'))

In [71]:
df['Valor da venda'] = df['Valor da venda'].fillna(df['Valor do produto'] * df['Quantidade unitária'])

In [72]:
df.isna().sum()

Nome do vendedor       0
Produto vendido        0
Quantidade unitária    0
Valor do produto       0
Valor da venda         0
Data da compra         0
Localização            0
dtype: int64

## Realizando a Carga de Dados no Banco de Dados

In [ ]:
# Carga de Dados: tb_vendedor
df_vendedores = pd.DataFrame(df['Nome do vendedor'].unique(), columns=['vendedor'])
df_vendedores.to_sql('tb_vendedor', con=DATABASE_CONN_STRING, index=False, if_exists='append')

In [75]:
# Carga de Dados: tb_vendedor
df_produtos = df[['Produto vendido', 'Valor do produto']]
df_produtos.rename(columns={'Produto vendido': 'produto', 'Valor do produto': 'valor_produto'}, inplace=True)
df_produtos.to_sql('tb_produto', con=DATABASE_CONN_STRING, index=False, if_exists='append')

/tmp/ipykernel_118/3055700119.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_produtos.rename(columns={'Produto vendido': 'produto', 'Valor do produto': 'valor_produto'}, inplace=True)

989

In [78]:
# Carga de Dados: tb_estado
df_estados = pd.DataFrame(df['Localização'].unique(), columns=['estado'])
df_estados.to_sql('tb_estado', con=DATABASE_CONN_STRING, index=False, if_exists='append')

27